<!DOCTYPE html>
<html>
  <head>
    <title>GoRailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav id="header" class="w-full z-30 top-10 py-1 bg-white mt-24">
    

    <div class="flex justify-between">
      <% if user_signed_in? %>
        <%= link_to "New blog post", new_blog_post_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
        <div class="flex order-last">
          <%= link_to "Profile", edit_user_registration_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "text-white bg-red-500 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
        </div>
      <% else %>
        <div class="flex order-last">
          <%= link_to "Login", new_user_session_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
          <%= link_to "Sign up", new_user_registration_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
        </div>  
      <% end %>
    </div>

  </nav>

  <body class="prose mx-auto">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <hr>
    <%= yield %>
    
  </body>
</html>
