<%= form_with(model: [@blog_post, @blog_post.comments.build]) do |form| %>

    <div class="py-1 px-3 mx-auto">
        <%= form.label :name , class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.text_field :name %>
    </div>

    <div class="py-3 px-3 mx-auto">
        <%= form.label :Message , class: "block mb-2 text-sm font-medium text-gray-900"%>
        <div class="block p-2.5 w-full text-sm text-gray-900 bg-gray-0 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <%= form.rich_text_area :body %>
        </div>
        <%# Try using rich_text_area later %>
    </div>

    <div class="py-1 px-3 mx-auto">
        <%= form.submit class: "bg-gray-200 rounded hover:bg-gray-400 py-1 px-3 mx-auto" %>
        <%# try using form.button later %>
    </div>

<% end %>
