<div id="header" class="fixed top-0 left-0 right-0 z-30 bg-white flex flex-row h-16 px-4 py-1">
    <% if user_signed_in? %>
        <div class="flex">
            <%#= svg_tag "logo", class: "w-16 h-16" %>
            <%= link_to "Reddit", blog_posts_path, class: "w-" %>
            <%= link_to "New blog post", new_blog_post_path, class: "" %>
        </div>
        <div class="flex">
            <%= link_to "Profile", edit_user_registration_path, class: "" %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "" %>
        </div>
    <% else %>
        <%= svg_tag "logo", class: "w-16 h-16" %>
        <%= link_to "Reddit", blog_posts_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-0" %>
        <div class="flex order-last">
            <%= link_to "Login", new_user_session_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-0" %>
            <%= link_to "Sign up", new_user_registration_path, class: "no-underline text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-0" %>
        </div>  
    <% end %>
</div>
