<div class="flex flex-col space-y-4 mx-auto w-[50rem] border border-[#E5E5E5] shadow py-6 px-9">
    <div class="flex flex-row justify-between">
        <%# Title %>
        <div class="text-[#14213D] text-xl font-[700]">
            <h1><%= @blog_post.title %></h1>
        </div>
        <% if user_signed_in? && current_user == @blog_post.user %>
            <%# Edit %>
            <%= link_to edit_blog_post_path(@blog_post) do %>
                <div class="font-bold text-sm hover:text-gray-600 border border-transparent hover:border-gray-700 rounded-lg py-0.5 px-1">
                    Edit
                </div>
            <% end %>
        <% end %>
    </div>

    <hr class="mb-1">

    <%# Cover Image %>
    <% if @blog_post.cover_image.present? %>
        <div class="my-2 flex justify-center bg-[#E5E5E5] py-2 rounded">
            <%= image_tag @blog_post.cover_image, class: "w-60" %>
        </div>
    <% end %>

    <%# Content %>
    <div class="font-light">
        <%= @blog_post.content %>
    </div>

    <%# Comment Section %>
    <div class="mt-4">
        <%# number of comments %>
        <div class="flex mt-3 ml-0 w-[6.5rem] py-[0.25rem] text-xs font-bold text-[#7c7c7c] border rounded-lg border-transparent transition">
            <div>
                <%= inline_svg_tag "svg/comment.svg", class: "w-[1rem] mr-1 ml-1 mb-1" %>
            </div>
            <%= @blog_post.comments.count %> Comments
        </div>
        
        <hr class="mb-4 mt-3">

        <%# Comments %>
        <div>
            <%= render partial: "comments/comment", locals: {blog_post: @blog_post, comment: @comment}%>
        </div>

        <%# Add a comment %>
        <div class="mt-4 font-light text-sm text-gray-400">
            <h3 class="mb-1 mt-2">Comment</h3>
            <%= render partial: "comments/formcomment", locals: {blog_post: @blog_post, comment: @comment} %>
        </div>
    </div>
</div>
