<div class="flex flex-col space-y-4 mx-auto w-[50rem] border border-[#E5E5E5] shadow py-6 px-9">
    <div class="flex flex-row justify-between">
        <%# Title %>
        <div class="text-[#14213D] text-xl font-[700]">
            <h1><%= @blog_post.title %></h1>
        </div>
        <% if user_signed_in? && current_user == @blog_post.user %>
            <%# Edit %>
            <%= link_to edit_blog_post_path(@blog_post) do %>
                <div class="font-bold text-sm hover:text-gray-600 border border-transparent hover:border-gray-700 rounded-lg py-0.5 px-1">
                    Edit
                </div>
            <% end %>
        <% end %>
    </div>

    <hr class="mb-1">

    <%# Cover Image %>
    <% if @blog_post.cover_image.present? %>
        <div class="my-2 flex justify-center bg-[#E5E5E5] py-2 rounded">
            <%= image_tag @blog_post.cover_image, class: "w-60" %>
        </div>
    <% end %>

    <%# Content %>
    <div class="font-light">
        <%= @blog_post.content %>
    </div>

    <%# Comment Section %>
    <div class="mt-4">
        <div class="flex">
            <%# Upvote/Downvote %>
            <% if user_signed_in? %>
                <div class="flex border border-transparent text-sm font-bold text-[#7c7c7c] mt-[0.81rem]">
                    <div class="flex">
                        <%= button_to like_blog_post_path(@blog_post), method: :put do %>
                            <div class="h-0 w-0 border-x-8 border-b-8 border-x-transparent hover:border-b-[#FCA311] <%= (current_user.voted_up_on? @blog_post) == false ? 'border-b-[#9f9e9e]' : 'border-b-[#FCA311]' %>"></div>
                        <% end %>
                    </div>
                    <div class="mx-2 w-3">
                        <%= @blog_post.get_likes.size - @blog_post.get_downvotes.size %>
                    </div>
                    <div class="flex">
                        <%= button_to dislike_blog_post_path(@blog_post), method: :put do %>
                            <div class="h-0 w-0 border-x-8 border-t-8 border-x-transparent hover:border-t-[#14213D] <%= (current_user.voted_down_on? @blog_post) == false ? 'border-t-[#9f9e9e]' : 'border-t-[#14213D]' %>"></div>
                        <% end %>
                    </div>
                </div>
            <% else %>
                <div class="flex border border-transparent text-sm font-bold text-[#7c7c7c] mt-[0.81rem]">
                    <div class="flex">
                        <%= button_to new_user_session_path do %>
                            <div class="h-0 w-0 border-x-8 border-b-8 border-x-transparent hover:border-b-[#FCA311] border-b-[#9f9e9e]"></div>
                        <% end %>
                    </div>
                    <div class="mx-2 w-3">
                        <%= @blog_post.get_upvotes.size - @blog_post.get_downvotes.size %>
                    </div>
                    <div class="flex">
                        <%= button_to new_user_session_path do %>
                            <div class="h-0 w-0 border-x-8 border-t-8 border-x-transparent hover:border-t-[#14213D] border-t-[#9f9e9e]"></div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <%# number of comments %>
            <div class="flex mt-3 ml-1 w-[6.5rem] py-[0.25rem] text-xs font-bold text-[#7c7c7c] border rounded-lg border-transparent transition">
                <div>
                    <%= inline_svg_tag "svg/comment.svg", class: "w-[1rem] mr-1 ml-1 mb-1" %>
                </div>
                <%= @blog_post.comments.count %> Comments
            </div>
        </div> 
        
        <hr class="mb-4 mt-3">

        <%# Comments %>
        <div>
            <%= render partial: "comments/comment", locals: {blog_post: @blog_post, comment: @comment}%>
        </div>
        <% if user_signed_in? %>
            <%# Add a comment %>
            <div class="mt-4 font-light text-sm text-gray-400">
                <%# <h3 class="mb-1 mt-2">Comment</h3> %>
                <%= render partial: "comments/formcomment", locals: {blog_post: @blog_post, comment: @comment} %>
            </div>
        <% end %>
    </div>

</div>
