<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-white relative p-10">
    
    <%# Navbar %>
    <% if user_signed_in? %>
      <div id="header" class="fixed top-0 left-0 right-0 z-30 flex flex-row items-center justify-between bg-white h-16 px-6 py-1 border-t border-[#E5E5E5] shadow-md">
          <div class="flex flex-row items-center justify-center">
              <%# Logo - Link to Homepage %>
              <%= link_to blog_posts_path, class: "mr-16" do %>
                  <%= inline_svg_tag "svg/logo2.svg", class: "w-[7rem]" %>
              <% end %>
              
              <%# Create a Post %>
              <%= link_to new_blog_post_path, class: "flex flex-row items-center justify-center nav-text" do %>
                  <div id="plus-header" class="">+</div>
                  <div class="post-text pl-1">Post</div>
              <% end %>
          </div>
          <div class="flex flex-row items-center justify-center">
              <%# Profile %>
              <%= link_to edit_user_registration_path, class: "relative w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 mr-6" do %>
                  <svg class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
              <% end %>
              
              <%# Logout %>
              <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "bg-[#14213D] hover:bg-[#FCA311] text-white font-bold py-2 px-4 rounded-full transition-colors duration-500 ease-in-out" %>
          </div>
      </div>
    <% else %>
          <div id="header" class="fixed top-0 left-0 right-0 z-30 flex flex-row items-center justify-between bg-white h-16 px-6 py-1 border-t border-[#E5E5E5] shadow-md">
              <div class="flex flex-row items-center justify-center">
                  <%# Logo - Link to Homepage %>
                  <%= link_to blog_posts_path, class: "mr-16" do %>
                      <%= inline_svg_tag "svg/logo1.svg", class: "w-[7rem]" %>
                  <% end %>
              </div>
              <div class="flex flex-row items-center justify-center space-x-4">
                  <%# Sign Up %>
                  <%= link_to "Sign up", new_user_registration_path, class: "bg-[#14213D] hover:bg-[#FCA311] text-white font-bold py-2 px-4 rounded-full transition-colors duration-500 ease-in-out" %>
                  
                  <%# Login %>
              <%= link_to "Login", new_user_session_path, class: "bg-[#14213D] hover:bg-[#FCA311] text-white font-bold py-2 px-4 rounded-full transition-colors duration-500 ease-in-out" %>
              </div>
          </div> 
      <% end %>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="mt-16 flex flex-col mr-[20rem]">
      <%= yield %>
    </div>
    
    
  </body>
</html>